body {
    font-family: tahoma;
}

h3,h5{
    text-align: center;
}

img{
    margin: auto;
    display: block;
}

#centrado{
    text-align: center;
}

table {     
    font-family: tahoma;
    font-size: 12px;    
    margin: auto;     
    width: 700px; 
    text-align: left;    
    border-collapse: collapse; 
}

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 3px;     
    background: #b9c9fe;
    border-top: 2px solid #aabcfe;    
    border-bottom: 1px solid #fff; color: #039; 
}

td {    
    padding: 6px;     
    background: #e8edff;     
    border: 1px solid #fff;
    color: #669;    
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}

ul.dropdown-vertical {
 width: 200px;
}

ul.dropdown-vertical ul {
 top: 1px;
 left: 99%;
}

ul.dropdown-vertical li {
 float: none;
}
